

@font-face {
    font-family: 'inter';
    src: url(news-homepage-main/assets/fonts/static/Inter-Regular.ttf) format('truetype');

}

@font-face {
    font-family: 'inter';
    src: url(news-homepage-main/assets/fonts/static/Inter-Bold.ttf) format('truetype');
    font-weight: bold;
}


@font-face {
    font-family: 'inter';
    src: url(news-homepage-main/assets/fonts/static/Inter-ExtraBold.ttf) format('truetype');
    font-weight: bolder;
}


body{
    font-family: 'inter','sans-serif';
    
}

a{
    font-family: 'inter';
    color: black !important;

    letter-spacing: 3px;

    
    

}
.button_color{
    background-color: rgba(218,59,31,0.6);
    letter-spacing: 4px;
    color:white !important 
}
.button_color:hover{

    background-color: black;
    color: white  !important; 
}
h3{
    font-weight: bolder;
}
p{
    font-weight: normal;
}

a:hover{
    color:rgba(218,59,31,0.6) !important
}


@media only screen and (max-width:600px){
    .sub_images{
        width:50%;
    }
   
}